<suite name="Suite" verbose="1">
    <parameter name="armStrongNumberMin" value="9"/>
    <parameter name="armStrongNumberMax" value="999"/>
    <parameter name="armStrongNumber" value="371"/>

    <test name="Regression">
        <groups>
            <run>
                <exclude name="pending"/>
                <include name="done"/>
            </run>
        </groups>

        <packages>
            <package name="learnjava.*"/>
        </packages>

        <classes>
            <class name="learnjava.Factorial">
                <methods>
                    <include name="simpleFactBtRecursion"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Nopackage">
        <classes>
            <class name="learnjava.Fibonacci"/>
            <class name="learnjava.Factorial"/>
        </classes>
    </test>


</suite>
